[Unit]
Wants=redis-server.service

[Service]
EnvironmentFile=/etc/diaspora.conf
ExecStart=/home/diaspora/.rvm/wrappers/ruby-2.4.1@diaspora/bundle exec sidekiq
TimeoutStopSec=20
KillMode=control-group
Restart=always
User=diaspora
WorkingDirectory=/srv/diaspora

[Install]
WantedBy=multi-user.target
