@import 'mixins';
@import 'color_themes/dark/style';
@import 'color_themes/rc3/style';

// Only overriding existing selectors here, so disable some lint rules
// scss-lint:disable SelectorFormat, NestingDepth, SelectorDepth
body {
  a {
    color: $link-color;
  }

  .navbar-inverse.navbar-fixed-top {
    border-bottom: $border-c1;
  }

  #drawer nav li {
    color: $text-color;
    border-bottom: $border-c2;
    &:hover {
      background-color: $primary-c2-s2;
    }
  }

  .settings-container,
  .stream-element,
  .login-form,
  .photo_mobile {
    border-radius: 0 !important;
    border: $border-c3;
  }

  .stream-element,
  .comments {
    .from a { color: $text-color; }
    .info { color: lighten($gray-light, 12%); }
    .nsfw-shield { background-color: $primary-c2-s2; }

    .bottom-bar {
      background: $primary-c2-s2;
      .post-action .disabled { color: $text-color-pale; }
      .post-stats .count { background-color: $primary-c2-s2; }
    }

    div.reshare {
      border-left: none;
      border-bottom: $border-c3;
      .reshare_via span { color: $primary-c3; }
    }
  }

  .bottom-bar {
    background-color: $main-background;
  }

  .more-link,
  .no-more-posts {
    background: { color: $btn-default-bg; }
    border: 1px solid $btn-default-bg;
    border-radius: 0;

    h1,
    h2 {
      color: $text-color;
      text-shadow: none;
    }
  }

  .stream-element.unread { background-color: $primary-c2-s2; }
  .stream-element.read { background-color: $primary-c2-s3; }

  .photos .photo { border-color: $primary-c3; }

  .header-full-width { border-bottom: $border-c2; }

  #publisher-textarea-wrapper.with_attachments {
    border: none;
  }

  .user_aspects {
    &,
    &:focus,
    &:active {
      border-color: $gray-light;
    }

    &.has_connection {
      background-color: $green;
      color: $white;
    }
  }

  .stream-element .comments .comment {
    border-top: $border-c2;
  }

  .opengraph {
    border: $border-c1;
    padding: 5px;
  }
}
// scss-lint:enable SelectorFormat, NestingDepth, SelectorDepth

@import 'mobile/mobile';
