<% content_for(:head) do %>
  <%= stylesheet_link_tag 'nerdpol-home', media: 'all' %>
<% end %>

<div class="container" id="page">
  <h1>Welcome, friend.</h1>

  <h3>nerdpol.ch Diaspora*</h3>

  <hr/>

  <p id="start-links">
    Zum Starten <a href="users/sign_up">hier registrieren</a>.
    Bereits registriert? <a href="users/sign_in">Hier anmelden</a>.
  </p>

  <hr/>

  <div class="row" id="steps">
    <div class="span4">
      <h2>Deine Entscheidung</h2>
      <img src="/assets/icons/cog.png" alt="Cog"/>

      <p>
        Diaspora lässt dich deine Kontakte in Gruppen einordnen, sogenannte Aspekte. Deine Fotos,
        Geschichten und Witze werden durch diese Aspekte nur mit den Menschen geteilt, für die sie
        gedacht sind - einzigartig bei Diaspora.
      </p>
    </div>
    <div class="span4">
      <h2>Dein Eigentum</h2>
      <img src="/assets/icons/pen_write.png" alt="Pen write"/>

      <p>
        Deine Bilder gehören dir. Um sie zu teilen, musst du darauf nicht verzichten: Alles, was du
        auf Diaspora teilst, bleibt dein Eigentum - mit voller Kontrolle über die Verbreitung.
      </p>
    </div>
    <div class="span4">
      <h2>Ganz einfach</h2>
      <img src="/assets/icons/smiley_laughing.png" alt="Smiley laughing"/>

      <p>
        Diaspora macht das Teilen von Inhalten klar und einfach - dasselbe gilt für den Schutz
        deiner Privatsphäre. Diaspora ist von sich aus privat, seitenweise Einstellungen für
        die Profilsicherheit sind nicht nötig.
      </p>
    </div>
  </div>

  <hr/>

  <div id="resources">
    <h3>Useful Resources</h3>
    <ul id="links">
      <ul class="section">
        <li><a title="Git repository" href="http://github.com/diaspora/diaspora">Codebase</a></li>
        <li><a title="Wiki on github" href="http://wiki.diasporafoundation.org">Documentation</a></li>
      </ul>
      <ul class="section">
        <li><a title="#diaspora" href="http://webchat.freenode.net/?channels=diaspora">IRC - General</a></li>
        <li><a title="#diaspora-dev" href="http://webchat.freenode.net/?channels=diaspora-dev">IRC - Development</a>
        </li>
      </ul>
      <ul class="section">
        <li>
          <a title="General discussion mailing list" href="http://groups.google.com/group/diaspora-discuss">Discussion -
            General</a></li>
        <li><a title="Dev mailing list" href="http://groups.google.com/group/diaspora-dev">Discussion - Development</a>
        </li>
      </ul>
      <ul class="section">
        <li><a title="Bug tracker" href="https://github.com/diaspora/diaspora/issues">Find &amp; Report bugs</a></li>
        <li><a href="http://guides.rubyonrails.org/">Learn more about Ruby On Rails!</a></li>
      </ul>
    </ul>
  </div>
</div>
