<header>
  <div class="container" style="position:relative;">
    <a href="/">
      <div alt="Logo" class="diaspora_header_logo logos-header-logo">
      </div>
    </a>
    <ul id='landing_nav'>
      <li><a href="https://twitter.com/nerdpol_ch">@nerdpol_ch</a></li>
      <li><a href="https://github.com/SuperTux88/diaspora">github</a></li>
      <li><a href="https://blog.diasporafoundation.org">Blog</a></li>
      <li><a href="/users/sign_in" class="login">Anmelden</a></li>
    </ul>
  </div>
</header>
