body {
  margin-top: 160px;
}

#grey_header {
  box-shadow: 0 1px 1px #EEE;
  background-color: #FAFAFA;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #DDD;
}

header.mobile {
  position: absolute;
  left: 0;
}

.container.mobile {
  position: absolute;
  top: 50px;
  left: 0;
}
