#sunset-message-container {
  font-size: 1.2em;

  h3 {
    border-bottom: 1px dashed #ddd;
    font-weight: bold;
    margin: 0 0 15px;
    padding-bottom: 15px;
  }

  .row {
    margin-bottom: 2em;
  }

  .framed-content {
    padding: 15px;
  }
}
