#xeyes {
  position: absolute;
  top: 5px;
  left: 107px;
}

.eyeball {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,1);
  float: left;
  cursor: none;
  margin-right: 1px;
}

.iris {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #000;
}
